<div class='container mt-2'>

	<header class='text-center'>
		<h2>Cadastrar Serviço</h2>
		<div>
			<a href='/admin/prodServ/estoque/servicos'>
				<span>
					<i class='fas fa-long-arrow-alt-left me-1'></i>
					Voltar
				</span>
			</a>
		</div>
	</header>

	<div class='d-flex justify-content-center'>
		<form
			action='/admin/prodServ/novoServico'
			method='post'
			class='form-card rounded shadow'
		>

			<div class='d-flex justify-content-around'>
				<!--Checkbox 1-->
				<div class='form-check'>
					<input
						class='form-check-input'
						type='radio'
						name='tipo'
						id='ct1'
						value='categNormal'
						checked
					/>
					<label for='ct1'>
						Utilizar categoria existente
					</label>
				</div>

				<!--Checkbox 2-->
				<div class='form-check'>
					<input
						class='form-check-input'
						type='radio'
						name='tipo'
						id='ct2'
						value='categNova'
					/>
					<label for='ct2'>
						Criar nova categoria
					</label>
				</div>
			</div>

			<!--Nova Categoria-->
			<div class='form-floating' id='divncat' style='display: none;'>
				<input
					class='form-control'
					type='text'
					name='novaCategoria'
					id='novaCategoria'
					placeholder='Nova Categoria'
					oninput='this.value = this.value.toUpperCase()'
					style='display: none;'
				/>
				<label
					for='novaCategoria'
					id='labelncat'
					style='display: none;'
				>Nova categoria</label>
			</div>

			<!--Categoria-->
			<div class='input-group' id='selectCategoria'>
				<label for='categoria' class='input-group-text'>Categoria:
				</label>
				<select name='categoria' class='form-select' required>
					{{#each categorias}}
						<option value='{{_id}}'>{{nome}}</option>
					{{/each}}
				</select>
			</div>

			<!--Descrição-->
			<div class='form-floating'>
				<input
					type='text'
					name='descricao'
					id='descricao'
					class='form-control'
					placeholder='Descrição'
					required
				/>
				<label for='descricao'>Descrição</label>
			</div>

			<!--Valor-->
			<div class='form-floating'>
				<input
					type='number'
					name='valor'
					id='valor'
					class='form-control'
					placeholder='Valor do serviço'
					step='any'
					min='0'
					required
				/>
				<label for='valor'>Valor</label>
			</div>

			<button
				type='submit'
				class='btn btn-primary w-100'
			>Cadastrar</button>
		</form>
	</div>
	{{! prettier-ignore }}
	<script>
		var catb = document.querySelector('input#ct1')
		var ncatb = document.querySelector('input#ct2')

		var cat = document.querySelector('div#selectCategoria')
		var ncat = document.querySelector('input#novaCategoria')

		var divncat = document.querySelector('div#divncat')
		var labelncat = document.querySelector('label#labelncat')

		catb.addEventListener('click', () => {selecCategoria()})
		ncatb.addEventListener('click', () => {novaCategoria()})
    
		function selecCategoria(){
			cat.style.display = 'flex'

			ncat.removeAttribute('style')
			
			ncat.style.display = 'none'
			divncat.style.display = 'none';
			labelncat.style.display = 'none';

			ncat.removeAttribute('required')
		}

		function novaCategoria(){
			divncat.style.display = 'flex';
			ncat.style.display = 'flex'
			labelncat.style.display = 'flex';

			cat.removeAttribute('style')
			cat.style.display = 'none'

			ncat.setAttribute('required', true)
		}
	</script>
</div>