<div class='container'>
	<h1 class='text-center'>Dashboard</h1>
	<p class="text-center">raba: ""</p>
	<hr>
	{{#each cliFinal}}
		<p>Nome: {{this.nome}}</p>
		<p>Compras: {{this.compras}}</p>
	{{/each}}
	<p>idadeMedia: {{idadeMedia}}</p>
</div>

<script>
</script>