<div class='container mt-4'>
	<header>
		<h2>Painel administrativo</h2>
		<nav style="--bs-breadcrumb-divider: '>';" aria-label='breadcrumb'>
			<ol class='breadcrumb'>
				<li class='breadcrumb-item'><a href='/'>Home</a></li>
				<li class='breadcrumb-item active' aria-current='page'>
					Painel administrativo
				</li>
			</ol>
		</nav>
	</header>

	<section>
		<a href='/admin/funcionarios' class='card-link'>
			<img src='/img/badge.svg' alt='badge icon' />
			<span>Funcionários</span>
		</a>

		<a href='/admin/prodServ' class='card-link'>
			<img src='/img/repair_service.svg' alt='car-repair icon' />
			<span>Produtos e Serviços</span>
		</a>
	</section>
</div>