<div class='container mt-4'>

	<h2>Produtos e Serviços</h2>

	<main>
		<a href='/admin/prodServ/estoque' class='card-link'>
			<img src='/img/inventory.svg' alt='' />
			<span>Estoque</span>
		</a>

		<a href='/admin/prodServ/novaCategoria' class='card-link'>
			<img src='/img/category.svg' alt='Category icon' />
			<span>Cadastrar Categoria</span>
		</a>

		<a href='/admin/prodServ/novoProduto' class='card-link'>
			<img src='/img/handyman.svg' alt='' />
			<span>Cadastrar Produto</span>
		</a>

		<a href='/admin/prodServ/novoServico' class='card-link'>
			<img src='/img/car.svg' alt='' />
			<span>Cadastrar Serviço</span>
		</a>
	</main>

</div>