<div class='container mt-4'>

	<header>
		<h2>Produtos e Serviços</h2>
		<nav style="--bs-breadcrumb-divider: '>';" aria-label='breadcrumb'>
			<ol class='breadcrumb'>
				<li class='breadcrumb-item'><a href='/'>Home</a></li>
				<li class='breadcrumb-item'>
					<a href='/admin'>
						Painel administrativo
					</a>
				</li>
				<li class='breadcrumb-item active' aria-current='page'>
					Produtos e serviços
				</li>
			</ol>
		</nav>
	</header>

	<a href='/admin/prodServ/aquisicao' class='card-link'>
		<img src='/img/basket.svg' alt='' />
		<span>Registrar Aquisição</span>
	</a>

	<a href='/admin/prodServ/novaCategoria' class='card-link'>
		<img src='/img/category.svg' alt='Category icon' />
		<span>Cadastrar Categoria</span>
	</a>

	<a href='/admin/prodServ/novoProduto' class='card-link'>
		<img src='/img/car.svg' alt='' />
		<span>Cadastrar Produto</span>
	</a>

	<a href='/admin/prodServ/novoServico' class='card-link'>
		<img src='/img/handyman.svg' alt='' />
		<span>Cadastrar Serviço</span>
	</a>

	<!--mudar aqui-->
	<a href='/admin/prodServ/estoque' class='card-link'>
		<img src='/img/handyman.svg' alt='' />
		<span>Estoque</span>
	</a>

</div>