<div class='container mt-2'>

	<header class='text-center'>
		<h1>Cadastrar Funcionário</h1>
		<a href='/admin/funcionarios'>
			<span>
				<i class='fas fa-long-arrow-alt-left me-1'></i>
				Voltar
			</span>
		</a>
	</header>

	<main class='d-flex justify-content-center flex-wrap'>
		<form
			action='/cadastroGeral/funcionario'
			method='post'
			class='form-card rounded shadow'
		>

			<div class='form-floating'>
				<input
					class='form-control'
					type='text'
					name='nome'
					id='nome'
					placeholder='Nome completo'
					required
				/>
				<label for='nome'>Nome</label>
			</div>

			<div class='form-floating'>
				<input
					class='form-control'
					type='text'
					name='cpf'
					id='cpfFuncionario'
					placeholder='CPF'
					required
				/>
				<label for='cpfFuncionario'>CPF</label>
			</div>

			<div class='input-group'>
				<span class='input-group-text'>
					Data de nascimento
				</span>
				<input
					class='form-control'
					type='number'
					name='dia'
					placeholder='dd'
					min='1'
					max='31'
					required
				/>
				<input
					class='form-control'
					type='number'
					name='mes'
					placeholder='mm'
					min='1'
					max='12'
					required
				/>
				<input
					class='form-control'
					type='number'
					name='ano'
					placeholder='yyyy'
					min='1930'
					max='2021'
					required
				/>
			</div>

			<div class='form-floating'>
				<input
					class='form-control'
					type='email'
					name='email'
					id='email'
					placeholder='E-mail (opcional)'
				/>
				<label for='email'>E-mail (opcional)</label>
			</div>

			<div class='form-floating'>
				<input
					class='form-control'
					type='tel'
					name='telefone'
					id='telefoneFuncionario'
					placeholder='Telefone (opcional)'
				/>
				<label for='telefoneFuncionario'>Telefone (opcional)</label>
			</div>

			<button
				class='btn btn-primary w-100'
				type='submit '
			>Cadastrar</button>
		</form>
	</main>

</div>

{{!-- prettier-ignore --}}
<script>
	$(document).ready(() => { $('#cpfFuncionario').mask('000.000.000-00') })
	$(document).ready(() => {$('#telefoneFuncionario').mask('(00)0000-0000')})
</script>