{{#if suc}}
	<div class='container d-flex justify-content-center'>
		<div
			class='alert alert-success mt-3 d-flex align-items-center rounded shadow'
		>
			<i class='fas fa-check-circle me-2'></i>
			{{suc}}
			<button
				type='button'
				class='btn-close ms-2'
				data-bs-dismiss='alert'
				aria-label='Close'
			></button>
		</div>
	</div>
{{/if}}

{{#if err}}
	<div class='container d-flex justify-content-center'>
		<div
			class='alert alert-danger mt-3 d-flex align-items-center rounded shadow'
		>
			<i class='fas fa-exclamation-triangle me-2'></i>
			{{err}}
			<button
				type='button'
				class='btn-close ms-2'
				data-bs-dismiss='alert'
				aria-label='Close'
			></button>
		</div>
	</div>
{{/if}}