{{#if suc}}
	<div class='container'>
		<div class='alert alert-success mt-3'>
			{{suc}}
		</div>
	</div>
{{/if}}

{{#if err}}
	<div class='container'>
		<div class='alert alert-danger mt-3'>
			{{err}}
		</div>
	</div>
{{/if}}