<nav
	class='navbar navbar-expand-lg navbar-dark bg-danger bg-gradient sticky-top mb-3'
	style='display: {{navbar}}'
>
	<button
		class='navbar-toggler'
		type='button'
		data-bs-toggle='collapse'
		data-bs-target='#navbarSupportedContent'
		aria-controls='navbarSupportedContent'
		aria-expanded='false'
		aria-label='Toggle navigation'
	>
		<span class='navbar-toggler-icon'></span>
	</button>

	<img src='/img/datamotors-logo.png' alt='logo' class='nav-brand' />

	<div
		class='collapse navbar-collapse justify-content-center'
		id='navbarSupportedContent'
	>
		<ul class='navbar-nav'>
			<li class='nav-item'>
				<a class='nav-link' aria-current='page' href='/'>
					<i class='nav-icon fas fa-home'></i>
					Home
				</a>
			</li>

			<li class='nav-item dropdown'>
				<a
					class='nav-link dropdown-toggle'
					href='#'
					id='navbarDropdown'
					role='button'
					data-bs-toggle='dropdown'
					aria-expanded='false'
				>
					<i class='nav-icon fas fa-toolbox'></i>
					Produtos e Serviços
				</a>

				<ul class='dropdown-menu' aria-labelledby='navbarDropdown'>
					<li>
						<a
							class='dropdown-item'
							href='/admin/prodServ/estoque/produtos'
						>
							<i class='nav-sub-icon fas fa-archive nav-icon'></i>
							Estoque
						</a>
					</li>

					<li>
						<a class='dropdown-item' href='/orcamento'>
							<i
								class='nav-sub-icon fas fa-file-invoice-dollar'
							></i>
							Orçamentos
						</a>
					</li>

					<li><hr class='dropdown-divider' /></li>

					<li>
						<a
							class='dropdown-item'
							href='/admin/prodServ/novoProduto'
						>
							<i class='nav-sub-icon fas fa-dolly-flatbed'></i>
							Novo produto
						</a>
					</li>
					<li>
						<a
							class='dropdown-item'
							href='/admin/prodServ/novoServico'
						>
							<i class='nav-sub-icon fas fa-wrench'></i>
							Novo serviço
						</a>
					</li>
					<li>
						<a
							class='dropdown-item'
							href='/admin/prodServ/novaCategoria'
						>
							<i class='nav-sub-icon fas fa-tag'></i>
							Nova categoria
						</a>
					</li>
				</ul>
			</li>

			<li class='nav-item dropdown'>
				<a
					class='nav-link dropdown-toggle'
					href='#'
					id='navbarDropdown2'
					role='button'
					data-bs-toggle='dropdown'
					aria-expanded='false'
				>
					<i class='nav-icon fas fa-users'></i>
					Pessoas
				</a>

				<ul class='dropdown-menu' aria-labelledby='navbarDropdown2'>
					<li>
						<a
							class='dropdown-item disabled'
							href='/admin/prodServ/estoque'
						>
							<i class='nav-sub-icon fas fa-user'></i>
							Listar clientes
						</a>
					</li>

					<li>
						<a class='dropdown-item' href='/admin/funcionarios'>
							<i class='nav-sub-icon fas fa-user-tie'></i>
							Listar funcionários
						</a>
					</li>

					<li><hr class='dropdown-divider' /></li>

					<li>

						<a class='dropdown-item' href='/cadastroGeral/cliente'>
							<i class='nav-sub-icon fas fa-user-plus'></i>

							Novo cliente
						</a>
					</li>
					<li>
						<a class='dropdown-item' href='/cadastroGeral/func'>
							<i class='nav-sub-icon fas fa-user-plus'></i>

							Novo funcionário
						</a>
					</li>
				</ul>
			</li>

			<li class='nav-item'>
				<a
					class='nav-link border-circle'
					aria-current='page'
					href='/admin/dashboard'
				>
					<i class='fas fa-chart-line nav-icon'></i>
					Dashboard
				</a>
			</li>

		</ul>
	</div>

	<ul class='navbar-nav'>
		<li>
			<a class='nav-link justify-content-end' href='/usuario/logout'>
				<i class='nav-icon fas fa-sign-out-alt'></i>
				Sair
			</a>
		</li>
	</ul>

</nav>