<div class='container mt-4'>
	<h1>Bem-vindo!</h1>

	<a href='/cadastroGeral/'>
		<div class='card-link'>
			<img src='/img/person-add.svg' alt='Add person icon' />
			<span>Cadastros</span>
		</div>
	</a>

	<a href='/admin'>
		<div class='card-link'>
			<img src='/img/admin-painel.svg' alt='Admin-painel-icon' />
			<span>Painel administrativo</span>
		</div>
	</a>

</div>