<div class='mb-5'>
	<header class='container d-flex justify-content-center'>
		<div
			id='homePageCarousel'
			class='carousel slide flex-wrap'
			data-bs-ride='carousel'
			style='width: 90vh;'
		>
			<div class='carousel-indicators'>
				<button
					type='button'
					data-bs-target='#homePageCarousel'
					data-bs-slide-to='0'
					class='active'
					aria-current='true'
					aria-label='Slide 1'
				></button>

				<button
					type='button'
					data-bs-target='#homePageCarousel'
					data-bs-slide-to='1'
					aria-label='Slide 2'
				></button>

				<button
					type='button'
					data-bs-target='#homePageCarousel'
					data-bs-slide-to='2'
					aria-label='Slide 3'
				></button>

			</div>

			<div class='carousel-inner rounded shadow'>

				<div class='carousel-item active' data-bs-interval='6000'>
					<img
						src='/img/estoque.png'
						class='d-block w-100'
						alt='estoque'
					/>
					<a href='/admin/prodServ/estoque/produtos'>
						<div class='carousel-caption card-body'>
							<h5 class='text-shadow'>Estoque</h5>
							<hr />
							<p class='text-shadow'>Gerencie seus produtos e
								serviços</p>
						</div>
					</a>
				</div>

				<div class='carousel-item' data-bs-interval='6000'>
					<img
						src='/img/venda.png'
						class='d-block w-100'
						alt='vendas'
					/>
					<a href='/orcamento'>
						<div class='carousel-caption'>
							<h5 class='text-shadow'>Vendas</h5>
							<hr />
							<p class='text-shadow'>Administre seus orçamentos</p>
						</div>
					</a>
				</div>

				<div class='carousel-item' data-bs-interval='6000'>
					<img
						src='/img/relatorios.png'
						class='d-block w-100'
						alt='relatorios'
					/>
					<a href='/admin/dashboard'>
						<div class='carousel-caption'>
							<h5 class='text-shadow'>Relatórios e previsões</h5>
							<hr />
							<p class='text-shadow'>Acompanhe a evolução do seu
								negócio</p>
						</div>
					</a>
				</div>

			</div>

			<button
				class='carousel-control-prev'
				type='button'
				data-bs-target='#homePageCarousel'
				data-bs-slide='prev'
			>
				<span
					class='carousel-control-prev-icon'
					aria-hidden='true'
				></span>
				<span class='visually-hidden'>Previous</span>
			</button>

			<button
				class='carousel-control-next'
				type='button'
				data-bs-target='#homePageCarousel'
				data-bs-slide='next'
			>
				<span
					class='carousel-control-next-icon'
					aria-hidden='true'
				></span>
				<span class='visually-hidden'>Next</span>
			</button>

		</div>
	</header>

	<main class='container mt-5'>
		<div class='d-flex justify-content-center flex-wrap'>
			<a
				href='/admin/prodServ/estoque/produtos'
				class='card homepage-card-link'
			>
				<h4 class='card-header bg-danger text-light text-truncate'>
					Estoque
				</h4>
				<div class='card-body text-center fs-1 shadow'>
					<i class='fas fa-archive nav-icon text-danger'></i>
				</div>
			</a>

			<a href='/orcamento' class='card homepage-card-link'>
				<h4 class='card-header bg-danger text-light text-truncate'>
					Orçamentos
				</h4>
				<div class='card-body text-center fs-1 shadow'>
					<i class='fas fa-file-invoice-dollar text-danger'></i>
				</div>
			</a>
		</div>

		<hr />

		<div class='d-flex justify-content-center flex-wrap'>
			<a
				href='/admin/prodServ/novoProduto'
				class='card homepage-card-link'
			>
				<h4 class='card-header bg-danger text-light text-truncate'>
					<i class='fas fa-plus' style='font-size:15px;'></i>
					Produto
				</h4>
				<div class='card-body text-center fs-1 shadow'>
					<i class='fas fa-dolly-flatbed text-danger'></i>
				</div>
			</a>

			<a
				href='/admin/prodServ/novoServico'
				class='card homepage-card-link'
			>
				<h4 class='card-header bg-danger text-light text-truncate'>
					<i class='fas fa-plus' style='font-size:15px;'></i>
					Serviço
				</h4>
				<div class='card-body text-center fs-1 shadow'>
					<i class='fas fa-wrench text-danger'></i>
				</div>
			</a>

			<a
				href='/admin/prodServ/novaCategoria'
				class='card homepage-card-link'
			>
				<h4 class='card-header bg-danger text-light text-truncate'>
					<i class='fas fa-plus' style='font-size:15px;'></i>
					Categoria
				</h4>
				<div class='card-body text-center fs-1 shadow'>
					<i class='fas fa-tag text-danger'></i>
				</div>
			</a>

			<a href='/cadastroGeral/cliente' class='card homepage-card-link'>
				<h4 class='card-header bg-danger text-light text-truncate'>
					<i class='fas fa-plus' style='font-size:15px;'></i>
					Cliente
				</h4>
				<div class='card-body text-center fs-1 shadow'>
					<i class='fas fa-user text-danger'></i>
				</div>
			</a>

		</div>
	</main>
</div>