<div class='container mt-4'>
	<header>
		<h1>Bem-vindo!</h1>

		<nav style="--bs-breadcrumb-divider: '>';" aria-label='breadcrumb'>
			<ol class='breadcrumb'>
				<li class='breadcrumb-item' aria-current='page'><a>Home</a></li>
				<li class='breadcrumb-item'></li>
			</ol>
		</nav>
	</header>

	<a href='/cadastroGeral/'>
		<div class='card-link'>
			<img src='/img/person-add.svg' alt='Add person icon' />
			<span>Cadastros</span>
		</div>
	</a>

	<a href='/admin'>
		<div class='card-link'>
			<img src='/img/admin-painel.svg' alt='Admin-painel-icon' />
			<span>Painel administrativo</span>
		</div>
	</a>

	<a href='/orcamento'>
		<div class='card-link'>
			<img src='/img/orcamento.svg' alt='Orçamento-painel-icon' />
			<span>Orçamentos</span>
		</div>
	</a>

</div>