.nav-brand {
	width: 15rem;
	margin: auto 10px;
	transition: 0.5s;
}

.nav-link {
	font-size: 17px;
	margin-right: 10px;
	border-radius: 10px;
}

.nav-icon {
	width: 25px;
	height: 25px;
	text-align: center;
	color: #ffffff;
}

.nav-sub-icon {
	width: 25px;
	height: 25px;
	text-align: center;
	color: #ff5e73;
}

.navbar-toggler {
	margin-left: 10px;
}

.nav-link:hover {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.nav-link:focus {
	background-color: rgba(0, 0, 0, 0.2);
}
