.nav-brand {
	width: 15rem;
	margin: auto 10px;
}

.nav-link {
	font-size: 17px;
	margin-right: 10px;
}

.nav-icon {
	width: 25px;
	height: 25px;
	text-align: center;
	color: #fc5168;
}

.navbar-toggler {
	margin-left: 10px;
}
