html {
	height: 100%;
}

body {
	width: 100%;
	min-width: auto;
	min-height: 100%;
	height: auto;
}

a,
u {
	text-decoration: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
