<div class='container mt-4'>
	<h1>Orçamentos</h1>

	<a href='/orcamento/novo'>
		<button class='btn btn-success mb-3'>Novo orçamento</button>
	</a>

	<div class='card'>
		<div class='card-body'>
			<!--Listagem de orçamentos-->
			<table class='table table-hover' style='vertical-align: middle;'>
				<thead>
					<tr>
						<th scope='col'>Nº</th>
						<th scope='col'>Descrição</th>
						<th scope='col'>Valor Total</th>
						<th></th>
					</tr>
				</thead>
				{{#each orcamentos}}
					<tbody>
						<tr>
							<td>{{numero}}</td>
							<td style='width: 900px;'>{{descricao}}</td>
							<td>R$ {{valorTotal}}</td>
							<td style='width: 20px;'>
								<form action='/orcamento/editar' method='post'>
									<input
										type='hidden'
										name='id'
										value='{{_id}}'
									/>
									<button
										type='submit'
										class='btn btn-primary'
										title='Editar produto'
									>
										<img src='/img/edit.svg' alt='editar' />
									</button>
								</form>
							</td>
						</tr>
					</tbody>
				{{/each}}
			</table>
		</div>
	</div>
</div>