<div class='container mt-2'>
	<header class='row row-cols-1'>
		<h1 class='d-flex justify-content-center'>Orçamentos</h1>

		<footer class='d-flex justify-content-center'>
			<a href='/orcamento/novo'>
				<button class='btn btn-primary mb-2'>
					<i
						class='fas fa-file-invoice-dollar'
						style='font-size: 20px;'
					></i>
					Gerar
				</button>
			</a>
		</footer>
	</header>

	<div class='card rounded shadow scrollable'>
		<div class='card-body'>
			<!--Listagem de orçamentos-->
			<table class='table table-hover table-striped align-middle'>
				<thead>
					<tr>
						<th scope='col'>Nº</th>
						<th scope='col'>Descrição</th>
						<th scope='col'>Valor Total</th>
						<th scope='col'>Ações</th>
					</tr>
				</thead>

				<tbody>
					{{#each orcamentos}}
						<tr>
							<th class='col'>{{numero}}</th>
							<td class='col'>{{descricao}}</td>
							<td class='col'>R$ {{valorTotal}}</td>
							<td class='col'>
								<form action='/orcamento/editar' method='post'>
									<input
										type='hidden'
										name='id'
										value='{{_id}}'
									/>
									<button
										type='submit'
										class='btn btn-primary'
										title='Editar orçamento'
									>
										<img src='/img/edit.svg' alt='editar' />
									</button>
								</form>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>